
/*--------------------------------------------------------------------------------------------------
 	 PAGE DEFINITIONS
--------------------------------------------------------------------------------------------------*/

body {
	min-width: 100%;
	font-family: "Helvetica Neue", Helvetica, clean, sans-serif;
	font-size: 13px;
  background-image: url(/images/back_admin.jpg) !important;
}

#container {
}

h1 {
	font-size: 24px;
	font-weight: normal;
	margin: 6px 0 24px 0;
}

#buttons {
	height: 50px;
}

#links {
	height: 50px;
}

/*
Deprecated in favor of foldeable menues
#plugins_menu {
  display:none;
  border-top: #C4C4B5 solid 1px;
}
*/

div#apply_changes_banner{
    background-color: rgba(255, 255, 255, 1);
    height: 40px;
    margin: 0 -20px 0 -20px;
    border-bottom: 2px #347488 solid;
}

div#apply_changes_banner a{
    background-color: #B6B6B6;
}
div#apply_changes_banner span#apply_changes_notice{
    line-height: 40px;
    margin:0 20px;
    color: rgba(0, 0, 0, 0.95);
    opacity: 0.9;
    font-weight: bold;
}

div#apply_changes_button{
    float:right;
    padding-right: 20px;
    margin-top: 7px;
}

div#wait_apply_changes_button {
    float: right;
    padding-right: 20px;
    margin-top: 7px;
    margin-right: -190px;
}

#header_version{
  font-size: 14px;
  font-weight: bold;
  position: relative;
  top: 8px;
  margin-right: 15px;
  float: right;
  color: #CFE1F1;
  text-shadow: 0 1px 0 rgba(117, 35, 35, 0.5);
  width: 100%;
  text-align: right;
}

div.yield{
  background: none repeat scroll 0% 0% #dbdcdb;
  overflow: hidden;
  margin-left: -20px;
  padding-left: 20px;
  width: 862px;
  padding-right: 20px;
}

div#busqueda{
  overflow: hidden;
}

div#notification{
  background-color: rgba(63, 94, 109, 0.4);
  margin-left: -20px;
  width: 882px;
  padding-left: 20px;
  overflow: hidden;
}
