div.horizontal_button_bar {
  position: fixed;
  top: 0px;
  bottom: 0px;
  width: 300px;
  right: -270px;
}

div.horizontal_button_bar div.hbb_container {
  width: 100%;
  height: 100%;
  display: table;
  background-color: transparent;
}

div.horizontal_button_bar div.hbb_container div.hbb_content {
    display: table-cell;
    vertical-align: middle;
    padding: 0px;
}

div.horizontal_button_bar div.hbb_container div.hbb_content div.hbb_rotator {
    display: inline-block;
    width: 300px;
    height: 300px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

div.horizontal_button_bar div.hbb_container div.hbb_content div.hbb_rotator div.hbb_button {
    text-align: center;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
}

div.horizontal_button_bar div.hbb_container div.hbb_content div.hbb_rotator div.hbb_button div.hbb_body {
    line-height: 30px;
    font-weight: bold;
    font-size: 1.1em;
    background-color: #01455A;
    color: white;
    display: inline-block;
}

div.horizontal_button_bar div.hbb_container div.hbb_content div.hbb_rotator div.hbb_button div.hbb_body span.hbb_space {
    display: inline-block;
    width: 10px;
}

div#context_help_bar {
  position: fixed;
  width: 350px;
  right: -350px;
  top: 20px;  
  bottom: 20px;
  background-color: #eaeaea;
}

div#context_help_bar_ie6 {
  background-color: #eaeaea;
}

div#context_help_bar div.chb_top_bar {
  /*background-color: #E3E2DA;*/
  font-weight: bold;
  font-size: 1.1em;
  background-color: #01455A;
  color: white;
  line-height: 41px;
  text-align: left;
  cursor: pointer;
  padding-left: 10px;
}

div#context_help_bar div.chb_top_bar a {
  padding-left: 10px;
  cursor: pointer;
}

div#context_help_bar div.chb_content {
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 5px; 
  position: absolute;
  top: 41px;
  left: 0px; 
  right: 0px;
  bottom: 0px;
  overflow: scroll;
}

div#context_help_bar_ie6 div.chb_content {
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 5px; 
}

div#context_help_bar div.chb_content h1.help_title,
div#context_help_bar_ie6 div.chb_content h1.help_title {
  font-size: 12px;
  font-weight: bold;
  word-wrap: break-word;
}

div#context_help_bar div.chb_content h1.help_title a,
div#context_help_bar_ie6 div.chb_content h1.help_title a {
  
  color: #fff;
}

div#context_help_bar div.chb_content h1.help_title.help_level_1,
div#context_help_bar_ie6 div.chb_content h1.help_title.help_level_1 {
  font-size: 13px;
  background-color: #333;
  color: #fff;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

div#context_help_bar div.chb_content h1.help_title.help_level_2,
div#context_help_bar div.chb_content h1.help_title.help_level_3,
div#context_help_bar_ie6 div.chb_content h1.help_title.help_level_2,
div#context_help_bar_ie6 div.chb_content h1.help_title.help_level_3 {
  margin-left: 10px;
}

div#context_help_bar div.chb_content h1.help_title.help_level_2 a,
div#context_help_bar div.chb_content p.help_title.help_level_3 a,
div#context_help_bar_ie6 div.chb_content h1.help_title.help_level_2 a,
div#context_help_bar_ie6 div.chb_content h1.help_title.help_level_3 a {
  color: #333;
}

div#context_help_bar div.chb_content div.help_text,
div#context_help_bar_ie6 div.chb_content div.help_text {
  display: inline-block;
  font-size: 11px;
  line-height: 16px;
  margin-bottom: 10px;
  word-wrap: break-word;
}

div#context_help_bar div.chb_content div.help_text.help_level_2,
div#context_help_bar div.chb_content div.help_text.help_level_3,
div#context_help_bar_ie6 div.chb_content div.help_text.help_level_2,
div#context_help_bar_ie6 div.chb_content div.help_text.help_level_3 {
  margin-left: 10px;
}
