/* 

	TableCloth	
	by Alen Grakalic, brought to you by cssglobe.com
	
*/

/* general styles */

table, td{
	font:100% Arial, Helvetica, sans-serif; 
}
table{
	width:100%;
	margin:1em 0;
}
th, td{
	text-align:left;
	padding:.5em;
	border-top:1px solid rgba(255,255,255,0.1);
	border-color: rgba(1, 1, 2, 0.21);
	border-left: none;
	border-right: none;
}
th{
	background:transparent repeat-x;
	color:#000;
}

/* tablecloth styles */

tr.even td{background:transparent !important;}
tr.odd td{background:rgba(0,0,0,0.06) !important; }

th.over, tr.even th.over, tr.odd th.over{background:#4a98af;}
th.down, tr.even th.down, tr.odd th.down{background:#bce774;}
th.selected, tr.even th.selected, tr.odd th.selected{}

td.over, tr.even td.over, tr.odd td.over{background:#ecfbd4;}
td.down, tr.even td.down, tr.odd td.down{background:#bce774;color:#fff;}
td.selected, tr.even td.selected, tr.odd td.selected{background:#bce774;color:#555;}

/* use this if you want to apply different styleing to empty table cells*/
td.empty, tr.odd td.empty, tr.even td.empty{background:#fff;}

tr.odd th a{
	color: #000;
	text-decoration: underline;
	cursor: pointer;
}

td a{
	color: #0097B5;
	text-decoration: underline;
	cursor: pointer;
}
