<% content_for :javascript do %>
  <script type="text/javascript">
    var delta_time = 1000;
    var last_line = -1;

    function ajaxCommandLogsRequest(){
      $.ajax({
        type : 'GET',
        url : '/command_logs/command_log_info',
        data : { from_line : (last_line + 1)},
        complete: function(resp){
          response = JSON.parse(resp.response);
          last_line = response["last_line"];
          refreshCommandLogsContent(response["command_log_lines"]);
          setTimeout(function(){ ajaxCommandLogsRequest(); }, delta_time);
        }
      });
    }
    function refreshCommandLogsContent(command_log_lines){
      if (command_log_lines != null){
        $('#content_for_command_log').append('<h5>' + command_log_lines.join("</h5>\n<h5>") + '</h5>\n');
      };
    }
    ajaxCommandLogsRequest();
  </script>
<% end %>
<% content_for :title, t('menu.command_log') %>
<% heading t('menu.command_log') %>

<div id="content_for_command_log"></div>
