<% content_for :javascript do %>
  <script type="text/javascript">
    var delta_time = 1000;
    function updateCommandLogsInfo(){
      setTimeout(function(){
        ajaxCommandLogsRequest();
        updateCommandLogsInfo();
      },delta_time)
    }
    function ajaxCommandLogsRequest(){
      $.ajax({
        type : 'GET',
        url : '/command_logs/command_log_info',
        complete: function(resp){
          refreshCommandLogsContent(resp.response);
        }
      });
    }
    function refreshCommandLogsContent(command_logs_info){
      $('#content_for_command_log').empty();
      $('#content_for_command_log').append('<h5>' + command_logs_info.replace(/\n/g, "</h5>\n<h5>") + '</h5>');
    }
    ajaxCommandLogsRequest();
    updateCommandLogsInfo();
  </script>
<% end %>
<% content_for :title, t('menu.command_log') %>
<% heading t('menu.command_log') %>

<div id="content_for_command_log"></div>
