<div id="main">
<% semantic_form_for @device_brand do |form| %>
  <%= error_messages @device_brand %>
  <% form.inputs do %>
    <%= form.input :name, :wrapper_html => { :class => "left" } %>
    <div style="clear: both"></div>
    <%= form_extensions form %>
  <% end %>
  <% if current_user.may_update_device_brand?(@device_brand) or current_user.may_create_device_brand? %>
    <% form.buttons do %>
      <%= if @commit_text.nil? then form.commit_button else form.commit_button @commit_text end %>
    <% end %>
  <% end %>
<% end %>
</div>
