<% content_for :heading do %>
  <div id="crear_nuevo">
    <% link_to path, :class => "button crear_nuevo" do %>
      <span> <span>
          <%=  t('buttons.create_new') %>
      </span> </span>
    <% end %>
  </div>
<% end %>