<%
    help = ContextHelp::Base.context_help
    ContextHelp::Base.flush_items
    if help != ''
%>
<div id="context_help_bar">
  <div class="chb_top_bar">
  <%= t 'buttons.context_help.close' %>
  </div>
  <div class="chb_content">
      <%= help %>
  </div>
</div>
<div id="context_help_button_bar" class="horizontal_button_bar">
    <div class="hbb_container">
        <div class="hbb_content">
            <div class="hbb_rotator">
                <div id="context_help_button" class="hbb_button" unselectable="on">
                    <div class="hbb_body">
                        <span class="hbb_space"></span>
                        <%= t 'buttons.context_help.help' %>
                        <span class="hbb_space"></span>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        $('div#context_help_button').click(function() {
            $('div#context_help_button_bar').animate({right: '-300px'}, 'fast');
            $('div#context_help_bar').animate({right: '0px'}, 'fast');
            $('body div#container').removeClass('centered');
            $.cookie('context_help_bar_visibility', 'visible');
        });
        $('div.chb_top_bar').click(function() {
            $('div#context_help_button_bar').animate({right: '-270px'}, 'fast');
            $('div#context_help_bar').animate({right: '-350px'}, 'fast', function() {
                $('body div#container').addClass('centered');
            });
            $.cookie('context_help_bar_visibility', 'hidden');
        });
        if ($.cookie('context_help_bar_visibility') == 'visible')
        {
            $('div#context_help_button_bar').css('right', '-300px');
            $('div#context_help_bar').animate({right: '0px'}, 'fast');
            $('body div#container').removeClass('centered');
        }
    });
    function context_help_link_to_help(link, item)
    {
        if ($.cookie('context_help_bar_visibility') != 'visible')
            $('div#context_help_button').click();
        $('div#context_help_bar div.chb_content').scrollTo(item, {duration: 600, over: -1});
        $(item).effect('pulsate');
    }
    function context_help_link_to_object(link, item)
    {
        $.scrollTo(item, {duration: 600, over: -1});
        $(item).parent().focus();
    }
</script>
<% end %>
