<style type="text/css">
  #header{
    position:relative;
    <%= header_logo_extension %>
    width: 902px;
    height: 122px;
  }
</style>

<div id="header">
  <%= plugins_header_extensions %>
  <% if current_user %>
    <%= link_to "#{current_user.name} (Logout)", logout_path, :class => "logout" %>
  <% end %>
</div>
