<% if !flash[:notice].blank? %>
  <p class="notification" style="color: green"><%= flash[:notice] %></p>
<% end %>
<% if !flash[:warning].blank? %>
  <p class="notification notification_warning" style="color: yellow"><%= flash[:warning] %></p>
<% end %>
<% if !flash[:error].blank? %>
  <p class="notification notification_error" style="color: red"><%= flash[:error] %></p>
<% end %>
