<style>
#menu_divisor {
  width: 902px;
  height: 25px;
  /*background-color: #EEEDED;*/
  background-color: rgb(83, 96, 101);
  border-top: 2px solid #878b93;
  margin-left: -20px;
  padding-top: 20px;
  border-bottom: rgba(255,255,255,0.1) solid 2px;
}

#menu_divisor p {
  display: inline;
  margin-left: 20px;
  margin-top: 19px;
  /*color: #a8a7a4;*/
  color: #a5daea;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}
#plugin_menu {
  margin-left: -20px;
  background-color: rgb(83, 96, 101);
  width: 902px;
}
#plugin_menu:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
ul.plugin_menu {
  float: left;
  padding-bottom: 10px;
  padding-top: 5px;
}
</style>
<div id="menu_divisor">
  <p><%= yield :plugin_name %></p>
</div>
<div style="clear: both"></div>

<div id="plugin_menu">
  <%= yield :plugin_menu %>
</div>
<div style="clear: both"></div>
