<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <%= stylesheet_link_tag "login", "comfortaa" %>
    <%= javascript_include_tag "jquery", "application" %>
  </head>
  <body class="login sequre">
    <div class="bg"></div>
    <%= yield %>
  </body>
</html>